@import url(https://fonts.googleapis.com/css?family=Inconsolata:700);

html {
    font-size: 16px;
}

body {
    background-image: url('wood_pattern.png');
    box-sizing: border-box;
}

@font-face {
    font-family: 'digital';
    src: url('digital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#calc-wrap {
    background-color: darkgrey;
    margin: 0 auto;
    padding: 1rem;
    width: 25rem;
    height: 30rem;
}

#display-bg {
    background-color: #dadfe1;
    margin: 0.938rem auto;
    width: 23.188rem;
    height: 5rem;
    position: relative;
}

#display {
  color: #424242;
  font-family: 'digital', 'Courier', monospace;
  font-size: 4em;
  margin: 0 auto;
  position: absolute;
  top: 57%;
  right: 3%;
  transform: translate(0, -50%);
  text-align: right;
}

.key {
    width: 4.375rem;
    height: 3.625rem;
    background-color: lightgray;
    color: white;
    float: left;
    margin: 0.938rem;
    position: relative;
    border-radius: 3px;
}

.key p {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}